
.idea/
__pycache__/
dist/
.idea/misc.xml
/documents
/documents
__pycache__/Wildberries_parser.cpython-311.pyc
__pycache__/Wildberries_parser.cpython-310.pyc
__pycache__/Database_functions.cpython-311.pyc
__pycache__/Database_connections.cpython-311.pyc
__pycache__/autoclick.cpython-311.pyc
__pycache__/Wildberries_parser.cpython-311.pyc
__pycache__/Wildberries_parser.cpython-310.pyc
__pycache__/Database_functions.cpython-311.pyc
__pycache__/Database_connections.cpython-311.pyc
__pycache__/autoclick.cpython-311.pyc
